 
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=1320" />
    <title>FINOBot</title>
    <link rel="stylesheet" type="text/css" href="asset/css/font.css" />
    <link rel="stylesheet" type="text/css" href="asset/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="asset/css/main.css" />
    <script type="text/javascript" src="asset/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="asset/js/jquery.cycle2.js"></script>
    <script type="text/javascript" src="asset/js/jquery.cycle2.carousel.js"></script>
    <script type="text/javascript" src="asset/js/jquery.cycle2.center.js"></script>
    <script type="text/javascript" src="asset/js/jquery.cycle2.tile.min.js"></script>
    <script type="text/javascript" src="asset/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="asset/js/jquery-ui.js"></script>
    <script type="text/javascript" src="asset/js/main.js"></script>
</head>
<body class="home">
    <header id="header">
        <div class="header_inner wrap">
            <h1 id="logo">
            	<a href="index.html"><img src="asset/images/logo.png" alt="FINOBot" /></a>
            </h1>
            <nav class="top_menu">
        	    <ul>
        	        <li><a href="index.html">HOME</a></li>
        		    <li><a href="support_contactus.html">CONTACT US</a></li>
        		    <li><a href="javascript:void(0);" onClick="alert('준비중 입니다');">ENG</a></li>
        		    <li class="control"><a href="finobot_use.html">피노봇 체험신청</a></li>
        	    </ul>
            </nav>            
            <nav class="main_menu">
            	<ul class="dropdown">
        		    <li>
        		    	<a href="finobot_intro.html">Finobot</a>
        		    	<ul class="dropdown_sub">
        		    		<li><a href="finobot_intro.html"><span>피노봇 소개</span></a></li>
    						<li><a href="finobot_video.html"><span>시연영상</span></a></li>
                            <li><a href="finobot_use.html"><span>피노봇 체험 신청</span></a></li>
        		    	</ul>
        		    </li>
        		    <li>
        		    	<a href="support_faq.html">Support</a>
        		    	<ul class="dropdown_sub">
                            <li><a href="support_faq.html"><span>FAQ</span></a></li>
    						<li><a href="support_contactus.html"><span>Contact us</span></a></li>
        		    	</ul>
        		    </li>
        		    <li>
        		    	<a href="finotek_intro.html">Company</a>
        		    	<ul class="dropdown_sub">
    		    			<li><a href="finotek_intro.html"><span>피노텍소개</span></a></li>
    						<li><a href="finotek_history.html"><span>연혁</span></a></li>
        		    	</ul>
        		    </li>
        		    <li>
        		    	<a href="news.html">News</a>
        		    	<ul class="dropdown_sub">
    		    			<li><a href="news.html"><span>피노봇소식</span></a></li>
    						<li><a href="https://blog.naver.com/finobot"><span>블로그</span></a></li>
                            <li><a href="javascript:void(0);" onClick="alert('준비중 입니다');"><span>FaceBook</span></a></li>
        		    	</ul>
        		    </li>
        	    </ul>
            </nav>
        </div>
        <div class="bg_container"></div>
    </header>                   
    <div class="visual_slider">
        <ul id="visual" class="visual_content">
            <li class="visual_slide_03">                
                <div class="visual_text">
                    <h3>Machine Learning</h3>
                    <h2>FINOBot</h2>
                    <p><span>자연어 처리 및 머신러닝 알고리즘 기반 로보 카운슬링 솔루션</span></p>
                    <a href="finobot_intro.html" class="visual_more">서비스 바로가기</a>
                </div>
            </li>
            <li class="visual_slide_02">                
                <div class="visual_text">
                    <p><span>앱, 모바일웹, 문자메시지, 웹메신저 등 다양한 플랫폼 지원</span></p>
                    <h3>Virtual Customer Service</h3>
                    <h2>FINOBot</h2>
                    <a href="finobot_intro.html" class="visual_more">서비스 바로가기</a>
                </div>
            </li>
            <li class="visual_slide_01">
                <div class="visual_text">
                    <h2>더 좋은 금융을 위한 <br/>핀테크 체인저</h2>
                    <p>Finance + Innovation + Technology</p>
                    <a href="finotek_intro.html" class="visual_more">회사소개 바로가기</a>
                </div>
            </li>
        </ul>q
        <div class="pre_btn arrow"><a href="#"><span class="wa_ir">이전</span></a></div>
        <div class="next_btn arrow"><a href="#"><span class="wa_ir">다음</span></a></div>     
        <div class="visual_arrow"><a href="#"></a></div>
    </div>
	<div class="main_products">
		<div class="wrap">
			<h2>기술에 새로운 아이디어를 더하는 피노봇</h2>
			<p>자연어 처리 및 머신러닝 알고리즘을 통한 메신저 형태의 1:1 맞춤형 상담 솔루션으로 <br/>단순 채팅부터 전문 상담까지 다양한 서비스를 제공합니다.</p>
			<ul>
                <li>
                    <div class="products_img"><a href="finobot_intro.html#summary"></a></div>
                    <h3>머신러닝 엔진 탑재</h3>
                    <p>순수 국내 · 자사 기술로 개발된 <br/>머신러닝(기계학습)엔진을 탑재</p>
                    <a class="product_more" href="finobot_intro.html#summary">MORE</a>
                </li>
				<li>
					<div class="products_img"><a href="finobot_intro.html#setup"></a></div>
                    <h3>다양한 기능 지원</h3>
                    <p>오타 및 띄어쓰기 측정 · 다국어 지원 및 <br/>질문에 따른 다양한 상담 기능 제공</p>
                    <a class="product_more" href="finobot_intro.html#setup">MORE</a>
				</li>
				<li>
					<div class="products_img"><a href="finobot_intro.html#effect1"></a></div>
                    <h3>서비스 연결</h3>
                    <p>핀테크 · 쇼핑몰 등 기존 제공 서비스에<br/>피노봇의 기능을 연결</p>
                    <a class="product_more" href="finobot_intro.html#effect1">MORE</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="main_nemo">
		<div class="wrap">
			<div class="position_wrap">
    			
    			<div class="data_content">
    				<div class="data_text nemo_text">
    					<h3>피노봇 소개</h3>
    				    <p>피노봇의 기능을 알려드립니다.</p>
    				    <a class="nemo_more" href="finobot_intro.html">MORE</a>
				    </div>
                    <div class="data_img"><img src="asset/images/nemo_data.jpg" alt="자료실"/></div>
    			</div>
    			<div class="question_content">
    				<div class="question_text nemo_text">
    					<h3>서비스문의</h3>
    					<p>서비스 및 기술에 대한 <br/>궁금증을 해결해 드립니다.</p>
    					<a class="nemo_more" href="support_faq.html">MORE</a>
    				</div>
    				<div class="question_img"><img src="asset/images/nemo_question.jpg" alt="서비스문의"/></div>
    			</div> 
    			<div class="control_content">
    				<div class="control_img"><img src="asset/images/nemo_control.jpg" alt="투자정보"/></div>
    				<div class="control_text nemo_text">
    					<h3>피노봇 시연</h3>
    					<p>직접 보고 싶으신가요?<br/>피노봇의 시연영상을 제공합니다.</p>
    					<a class="nemo_more" href="finobot_video.html">MORE</a>
    				</div>
    			</div>	
    			<div class="blog_content">
                    <div class="blog_img"><img src="asset/images/nemo_blog.jpg" alt="블로그"/></div>
    				<div class="blog_text nemo_text">
    					<h3>News</h3>
    					<p>피노봇의 최근 활동과<br/> 다양한 소식을 알려드립니다.</p>
    					<a class="nemo_more" href="news.html">MORE</a>
    				</div>
    			</div>

   			</div>
		</div>
	</div>
	<div class="main_vision">
		<div class="wrap">
			<h2>
                Finotek has a full range of technical platform <br/>
                for building better financial services <br/>
			</h2>	
			<ul>
                <li>
                    <div class="vision_img"><img src="asset/images/vision01.png" alt="핀테크 플랫폼 비즈니스"/></div>
                    <h3>핀테크 플랫폼 비즈니스</h3>
                    <p>인터넷뱅크 &middot; 핀테크</p>
                </li>
                <li>
                    <div class="vision_img"><img src="asset/images/vision02.png" alt="핀테크 플랫폼 비즈니스"/></div>
                    <h3>기반 솔루션 비즈니스</h3>
                    <p>법무관리 &middot; 업무관리 &middot; 고객관리</p>
                </li>
                <li>
                    <div class="vision_img"><img src="asset/images/vision03.png" alt="핀테크 플랫폼 비즈니스"/></div>
                    <h3>IT 서비스 비즈니스</h3>
                    <p>빅데이터 &middot; 정보시스템 인프라구축</p>
                </li>
            </ul>
			<div><a class="vision_more" href="finotek_intro.html">회사소개 바로가기</a></div>
		</div>
	</div>
	<div class="main_news">    		
		<div class="wrap">
		    <h2>NEWS &amp; NOTICE</h2>
		    <ul class="news_list">
                <li>
                    <div class="list_table">
                        <div>
                            <div class="news_date">
                                <h3>28</h3>
                                <p>2017.09</p>
                            </div>
                            <div class="news_content">
                                <p class="news_title"><a href="news.html">코넥스 피노텍, 기술성 평가 통과 &quot;코스닥&quot;行 성큼 </a></p>
                                <p class="news_text"><a href="news.html">서비스 &quot;피노봇&quot; / 사진=피노텍 제공 코넥스 상장기업 피노텍이 '기술성장기업 상장특례'(기술특례상장)를...</a></p>
                                <a class="news_more" href="news.html">MORE</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="list_table">
                        <div>
                            <div class="news_date">
                                <h3>28</h3>
                                <p>2017.09</p>
                            </div>
                            <div class="news_content">
                                <p class="news_title"><a href="news.html">피노텍&quot; 제2회 한경 핀테크대상서 핀테크플랫폼 최우수상 수상&quot;</a></p>
                                <p class="news_text"><a href="news.html">피노텍이 작년 제1회 한경 핀테크대상의 종합대상 수상에 이어&quot; 올해는 핀테크플랫폼 부문...</a></p>
                                <a class="news_more" href="news.html">MORE</a>
                            </div>
                        </div>
                    </div>
                </li>
    		    <li>
                    <div class="list_table">
                        <div>
                            <div class="news_date">
                                <h3>26</h3>
                                <p>2017.09</p>
                            </div>
                            <div class="news_content">
                                <p class="news_title"><a href="news.html">[생생코스닥] 유비벨록스, 성균관대에 국내 최초 캠퍼스 챗봇 상용화</a></p>
                                <p class="news_text"><a href="news.html">피노텍이 성균관대학교의 인공지능(AI) 기반 &quot;챗봇(Chatbot)&quot; 시스템 구축사업에 유비벨록스와...</a></p>
                                <a class="news_more" href="news.html">MORE</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="list_table">
                        <div>
                            <div class="news_date">
                                <h3>29</h3>
                                <p>2017.03</p>
                            </div>
                            <div class="news_content">
                                <p class="news_title"><a href="news.html">피노텍-한국씨티은행, &quot;비대면 주담대&quot; 출시한다</a></p>
                                <p class="news_text"><a href="news.html">핀테크 전문기업 피노텍은 한국씨티은행과 손잡고 비대면 주택담보대출 플랫폼을 올해 안에...</a></p>
                                <a class="news_more" href="news.html">MORE</a>
                            </div>
                        </div>
                    </div>
                </li>		    
            </ul>	
		</div>
	</div>
	
	<div class="bottom_banner">
		<div class="wrap">
			<div class="certification">
				<div class="control_btn">
					<a id="certification_next" class="banner_next"><span class="wa_ir">다음</span></a>
    				<a id="certification_pre" class="banner_pre"><span class="wa_ir">이전</span></a>
				</div>				
				<h2>인증기관</h2>				
				<div id="certification">
					<div><img src="asset/images/bottom_banner/certification01.png" alt="" /></div>
					<div><img src="asset/images/bottom_banner/certification02.png" alt="" /></div>
					<div><img src="asset/images/bottom_banner/certification03.png" alt="" /></div>
					<div><img src="asset/images/bottom_banner/certification04.png" alt="" /></div>
					<div><img src="asset/images/bottom_banner/certification05.png" alt="" /></div>
					<div><img src="asset/images/bottom_banner/certification06.png" alt="" /></div>
				</div>
			</div>
			
			<div class="customer">
				<div class="control_btn">
					<a id="customer_next" class="banner_next"><span class="wa_ir">다음</span></a>
    				<a id="customer_pre" class="banner_pre"><span class="wa_ir">이전</span></a>
				</div>
				<h2>고객사</h2>				
				<div id="customer">
                    <div>
                        <img src="asset/images/bottom_banner/customer01.png" alt=""/>
                        <p>롯데카드</p>
                    </div>
                    <div>
                        <img src="asset/images/bottom_banner/customer02.png" alt=""/>
                        <p>국민은행</p>
                    </div>
                    <div>
                        <img src="asset/images/bottom_banner/customer03.png" alt=""/>
                        <p>우리은행</p>
                    </div>
                    <div>
                        <img src="asset/images/bottom_banner/customer04.png" alt=""/>
                        <p>신한은행</p>
                    </div>
                    <div>
                        <img src="asset/images/bottom_banner/customer05.png" alt=""/>
                        <p>저축은행중앙회</p>
                    </div>
                    <div>
                        <img src="asset/images/bottom_banner/customer06.png" alt=""/>
                        <p>새마을금고</p>
                    </div>
                    <div>
                        <img src="asset/images/bottom_banner/customer07.png" alt=""/>
                        <p>현대해상</p>
                    </div>
                    <div>
                        <img src="asset/images/bottom_banner/customer08.png" alt=""/>
                        <p>동부화재</p>
                    </div>
				</div>
			</div>
		</div>
	</div>
    <footer id="footer">
    	<div class="page_top_button_area">
			<div class="page_top_button">top</div>
		</div>
    	<div class="footer_inner wrap">
            <p>(주) 피노텍</p>
            <p>[07223] 서울특별시 영등포구 당산로 246, 4층(뷰티플 타워)</p>
            <p>T. 070-7931-4021 &nbsp; E-mail. company@finotek.co,kr</p>
            <p class="footer_copy">Copyright 2018 finobot Co., Ltd. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html> 